* {
  box-sizing: border-box;
}

body {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#menu h1, #menu h2, #menu a {
  color: white;
}

a {
  text-decoration: none;
}

#main {
  position: absolute;
  width: 752px;
  height: 552px;
  background: #1d0e53 url("../assets/main_bg.svg");
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 20%;
}

ul.menu-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.menu-options > li {
  padding: 10px 0;
}

.button {
  display: block;
  margin: 0;
  padding: 10px;
  font-weight: bold;
}

.button:hover {
  background: rgba(160, 160, 160, 0.75);
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls-section {
  display: inline-block;
}